@keyframes pulse {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.05);
    }
    15% {
        transform: scale(1);
    }
}

body {
    cursor: default;
    background-image: url("https://images.pexels.com/photos/3518623/pexels-photo-3518623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

#header {
    opacity: 0.9;
    backdrop-filter: blur(12px);
}

h1 {
    font-size: 60px;
    font-weight: bold;
    animation: pulse 10s infinite;
}

#subtitle {
    font-size: 20px;
    color: #dbfff4;
    animation: pulse 3s infinite;
}

back {
    position: fixed;
    height: 100vh;
}

#break {
    background-color: #13afe8;
    min-height: 20px;
}

i {
    font-size: 50px;
}

i:hover {
    font-size: 53px;
}
